:host {
  display: flex;
  flex: 1;
}

md-sidenav {
  width: 320px;
}

.content {
  padding: 6px;
}

/deep/ md-icon.avatar {
  overflow: hidden;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 12px;
}

.fab-bottom-right {
  position: fixed;
  right: 16px;
  bottom: 16px;
}

/deep/ .mat-list-item-content {
  height: auto !important;
}


#container {
    width: 100%;
    margin: 5em auto;
    padding: 0;
    background:#fff;
}

/*#left {
  padding-left: 0px;
}
#right {
  padding-right: 10px;
}
*/




.items {
    width:300px;
    height:110px;
    background:#ECECEC;
}






.carditems {
    max-width:300px;
    height:110px;
    background:#ECECEC;
}

#left, #right { 
    margin: 30px;
}